{{ define "page" }}
<main>
    <h1>all notes</h1>
    <ul>
        {{ range .Notes }}
        <li>
            <p>{{ .Content }}</p>
            <p>by 
                <span title="{{ .IdentityNRI }}">
                    <a href="/profile/{{ identityFromNRI .IdentityNRI }}">
                        {{ .Profile.DisplayName }}
                    </a>
                </span>
                 at {{ .CreatedAt }}</p>
                 {{ if $.User }}
                 <form class="form-inline" action="/follow" method="post">
                     <input type="hidden" name="followee" value="{{ .IdentityNRI }}">
                     (<input type="submit" value="follow {{ .Profile.DisplayName }}">)
                 </form>
                 {{ end }}
        </li>
        {{ end }}
</main>
{{ end }}
