{{define "page"}}
<main>
    <h1>profile</h1>
    <ul>
        <li>Keygraph ID: {{ .Profile.KeygraphID }}</li>
        {{- if .Profile.Alias }}
        <li>Alias: {{ .Profile.Alias.String }}</li>
        {{- end }}
        <li>Name: {{ .Profile.DisplayName }}</li>
        <li>Description: {{ .Profile.Description }}</li>
    </ul>
    <h2>followees</h2>
    <ul>
        {{ range .Followees }}
            <li>{{ .NRI }}</li>
        {{ end }}
    </ul>
    <h2>followers</h2>
    <ul>
        {{ range .Followers }}
            <li>{{ .NRI }}</li>
        {{ end }}
    </ul>
</main>
{{end}}
